<div>
    <a href="#">HOME</a>
    <a href="project.html">PROJECT</a>
    <a href="contact.html">CONTACT</a>
</div>
<div id="banner">
    <header id="logo">
        <img src="gambar.jpg" alt="">
        <h1>Selamat Datang Di Web Fiki Saputra</h1>
        <span id="jobdesc">
        Hello Nama Saya FIKI SAPUTRA
        </span>
        <link rel="stylesheet" type="text/css" href="style.css">
    </header>
    <div id="overlay"></div>
</div>
<section>
    
    <div class="section">
        <div class="content">
            <div class="box">
                <img src="bang.jpg" alt="foto">
                <h3>Hobi Saya Main Mobile Legends</h3>
                
            </div>
            <div class="box">
                <img  src="fik.jpg" alt=" foto">
                <h3></h3>
                <p>Saya juga pernah ikut berbagai perlomabaan seperti:Sepak bola,badminton,dsd</p>
            </div>
            <div class="box">
                <img src="persib.jpg" alt="">
                <h3></h3>
                <p>Tim kebanggan Saya disepak bola adalah Persib Bandung</p>
            </div>
        </div>
    </div>
</section>
<div class="gallery">
    <div class="box"><a href="images/1.jpg" title="Gambar 1" desc="Lorem ipsum dolor sit amet, consectetur adipisicing."><img src="images/1.jpg" alt=""></a></div>
    <div class="box"><a href="images/2.jpg" title="Gambar 2" desc="Lorem ipsum dolor sit amet, consectetur adipisicing."><img src="images/2.jpg" alt=""></a></div>
    <div class="box"><a href="images/3.jpg" title="Gambar 3" desc="Lorem ipsum dolor sit amet, consectetur adipisicing."><img src="images/3.jpg" alt=""></a></div>
    <div class="box"><a href="images/4.jpg" title="Gambar 4" desc="Lorem ipsum dolor sit amet, consectetur adipisicing."><img src="images/4.jpg" alt=""></a></div>
    <div class="box"><a href="images/5.jpg" title="Gambar 5" desc="Lorem ipsum dolor sit amet, consectetur adipisicing."><img src="images/5.jpg" alt=""></a></div>
</div>
<aside class="testimonial">
    
</aside>


